
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.hakkimizda-erG {
  overflow: hidden;
  align-items: center;
  background-color: #13ba19;
  box-sizing: border-box;
  padding: 1.8rem 3.4rem 1.5rem 2.7rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .auto-group-dpsc-AZi {
    margin-bottom: 5.9rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .logo-uGQ {
      height: 11.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.6rem 36.3rem 0rem 0rem;
      width: 58.8rem;
    }
    .anasayfa-osa {
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 4.4rem 10rem 0rem 0rem;
      cursor: pointer;
      font-size: 3.2rem;
    }
    .hakkmzda-uQp {
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 4.4rem 10.8rem 0rem 0rem;
      font-size: 3.2rem;
    }
    .iletiim-1Cx {
      margin: 4.4rem 8.4rem 0rem 0rem;
      cursor: pointer;
      font-weight: 400;
      line-height: 1.2125;
      font-size: 3.2rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-q6lc-uZE {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 2.1rem;
      width: 19.4rem;
      align-items: flex-end;

      .auto-group-pqjc-T4x {
        width: calc(100% - 9.5rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 1.9rem 2rem 7.6rem;

        .instagram-aQU {
          margin-right: 1.9rem;
          width: 4rem;
          height: 4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .twitter-K7A {
          width: 4rem;
          height: 4.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .rezervasyon-4Ke {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        font-size: 3.2rem;
        font-weight: 400;
      }
    }
  }
  .hakkimizda-o2L {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 2.4rem 6.4rem 0rem;
  }
  .auto-group-95ts-iuz {
    margin: 0rem 1.9rem 16.7rem 0rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .d81955833d304ca9a163cf7cd30d37fd-1-Fuv {
      margin: 0rem 8.9rem 1.4rem 0rem;
      width: 36.4rem;
      height: 28.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .tecrbeli-teknik-kadromuz-ile-gvenilir-ve-verimli-ekip-olma-anlayyla-mteri-memnuniyeti-ve-kalite-ile-birlikte-zamanndalk-ilkelerinden-dn-vermeden-lke-ve-dnya-standartlarna-uygun-olarak-hizmet-sunmaktayz-hizmet-kalitesi-ve-bunun-ile-balantl-olarak-mteri-memnuniyeti-arttrmaya-ynelik-almalarmz-srekli-olarak-devam-etmektedir-teknolojinin-katklar-ile-siz-deerleri-mterilerimize-her-noktada-sorunlarnz-giderme-ve-destek-olmak-iin-durmakszn-alyoruz-B2t {
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 9.5rem;
      max-width: 91rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
    }
    .hakkmzda-resim-4kt {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 1.4rem;
      width: 36.4rem;
      height: 28.9rem;
      object-fit: cover;
    }
  }
  .auto-group-wcnx-zeY {
    width: calc(100% - 3.4rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 3.2rem 0rem 0.2rem;

    .hakkmzda-tecrbeli-teknik-kadromuz-ile-gvenilir-ve-verimli-ekip-olma-anlayyla-mteri-memnuniyeti-ve-kalite-ile-birlikte-zamanndalk-ilkelerinden-dn-vermeden-lke-ve-dnya-standartlarna-uygun-olarak-hizmet-sunmaktayz-iqS {
      margin-right: 19.8rem;
      max-width: 106.5rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .iletiim-9fr {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      margin-top: 1rem;
      max-width: 56.2rem;
      cursor: pointer;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
}
