
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.iletiim-31N {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: #13ba19;

  .auto-group-wype-uZN {
    position: absolute;
    left: 2.9rem;
    top: 87.1rem;
    display: flex;
    align-items: center;
    width: 182.5rem;
    height: 19.4rem;

    .hakkmzda-tecrbeli-teknik-kadromuz-ile-gvenilir-ve-verimli-ekip-olma-anlayyla-mteri-memnuniyeti-ve-kalite-ile-birlikte-zamanndalk-ilkelerinden-dn-vermeden-lke-ve-dnya-standartlarna-uygun-olarak-hizmet-sunmaktayz-28C {
      max-width: 106.5rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      font-weight: 400;
      color: #ffffff;
      flex-shrink: 0;
      margin-right: 19.8rem;
      cursor: pointer;
      font-size: 3.2rem;
    }
    .iletiim-adres-cevizli-mh-karabk-cd-no-10-kartal-istanbul-telefon-0212-444-0-444-pJx {
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin-top: 1rem;
      max-width: 56.2rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
    }
  }
  .gnder-JE8 {
    height: 3.9rem;
    left: 92.4rem;
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 1.2125;
    width: 12rem;
    top: 76.9rem;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
  }
  .telefonrezervasyon-ogg {
    width: 27.2rem;
    height: 2.3rem;
    position: absolute;
    left: 79.7rem;
    top: 73rem;
    background-color: #ffffff;
  }
  .telefon--8U4 {
    height: 3.9rem;
    top: 68.8rem;
    line-height: 1.2125;
    color: #ffffff;
    white-space: nowrap;
    width: 13.7rem;
    position: absolute;
    left: 79.7rem;
    font-size: 3.2rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
  }
  .emailrezervasyon-qdN {
    position: absolute;
    left: 79.7rem;
    top: 64.8rem;
    background-color: #ffffff;
    width: 27.2rem;
    height: 2.4rem;
  }
  .email-Yng {
    font-size: 3.2rem;
    font-weight: 400;
    height: 3.9rem;
    left: 79.7rem;
    top: 60.8rem;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 8.1rem;
    position: absolute;
  }
  .adsoyadrezervasyon-T8x {
    position: absolute;
    left: 79.7rem;
    top: 57.2rem;
    background-color: #ffffff;
    width: 27.2rem;
    height: 2.4rem;
  }
  .ad-soyad--z8t {
    color: #ffffff;
    height: 3.9rem;
    left: 79.7rem;
    top: 52.7rem;
    font-size: 3.2rem;
    font-weight: 400;
    width: 17.6rem;
    position: absolute;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .auto-group-megl-uFr {
    height: 25.9rem;
    position: absolute;
    left: 18.5rem;
    top: 17.3rem;
    display: flex;
    align-items: center;
    width: 164.3rem;

    .auto-group-ei1j-dhe {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .konumfoto-ymW {
        margin: 0rem 0rem 0.3rem 8.1rem;
        width: 11.6rem;
        height: 13.9rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .adres-cevizli-mh-karabk-cd-no-10-kartal-istanbul-hSc {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 46.8rem;
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1.2125;
      }
    }
    .auto-group-fkwt-cJg {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-left: 17.8rem;
      height: 100%;

      .auto-group-h2ng-A5J {
        flex-shrink: 0;
        margin-right: 33.3rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .telefonfoto-uoa {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.5rem 3.1rem 0rem;
          width: 14.2rem;
          height: 14.2rem;
          object-fit: cover;
        }
        .telefon-0212-444-0-444-qSL {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 24.7rem;
          font-size: 3.2rem;
          font-weight: 500;
          line-height: 1.2125;
        }
      }
      .auto-group-tbfa-9xp {
        width: 41.7rem;
        height: 22rem;
        position: relative;
        flex-shrink: 0;

        .e-mail-hacilarhalisahagmailcom-tvQ {
          width: 41.7rem;
          left: 0;
          top: 14.2rem;
          font-size: 3.2rem;
          font-family: Inter, 'Source Sans Pro';
          height: 7.8rem;
          position: absolute;
          font-weight: 500;
          line-height: 1.2125;
          color: #ffffff;
        }
        .mailfoto-Cw6 {
          width: 14.6rem;
          height: 14.8rem;
          position: absolute;
          left: 13.2rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
  }
  .auto-group-iqzg-w7z {
    display: flex;
    align-items: center;
    width: 185.9rem;
    height: 12.5rem;
    position: absolute;
    left: 2.7rem;
    top: 1.8rem;

    .logo-4Cc {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.6rem 36.3rem 0rem 0rem;
      width: 58.8rem;
      height: 11.9rem;
    }
    .anasayfa-y4g {
      cursor: pointer;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 4.4rem 10rem 0rem 0rem;
      font-weight: 400;
      font-size: 3.2rem;
    }
    .hakkmzda-svk {
      flex-shrink: 0;
      cursor: pointer;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin: 4.4rem 10.8rem 0rem 0rem;
      color: #ffffff;
    }
    .iletiim-M5E {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 4.4rem 8.4rem 0rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .auto-group-1vkp-GCC {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 2.1rem;
      width: 19.4rem;

      .auto-group-z31e-bkG {
        margin: 0rem 1.9rem 2rem 7.6rem;
        width: calc(100% - 9.5rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .instagram-W6Y {
          height: 4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.9rem;
          width: 4rem;
        }
        .twitter-EoE {
          width: 4rem;
          height: 4.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .rezervasyon-yF2 {
        cursor: pointer;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
}
