
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
}.iletiim-31N {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: #13ba19;
}
.iletiim-31N .auto-group-wype-uZN {
  width: 182.5rem;
  height: 19.4rem;
  position: absolute;
  left: 2.9rem;
  top: 87.1rem;
  display: flex;
  align-items: center;
}
.iletiim-31N .auto-group-wype-uZN .hakkmzda-tecrbeli-teknik-kadromuz-ile-gvenilir-ve-verimli-ekip-olma-anlayyla-mteri-memnuniyeti-ve-kalite-ile-birlikte-zamanndalk-ilkelerinden-dn-vermeden-lke-ve-dnya-standartlarna-uygun-olarak-hizmet-sunmaktayz-28C {
  margin-right: 19.8rem;
  max-width: 106.5rem;
  cursor: pointer;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.iletiim-31N .auto-group-wype-uZN .iletiim-adres-cevizli-mh-karabk-cd-no-10-kartal-istanbul-telefon-0212-444-0-444-pJx {
  margin-top: 1rem;
  max-width: 56.2rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.iletiim-31N .gnder-JE8 {
  width: 12rem;
  height: 3.9rem;
  position: absolute;
  left: 92.4rem;
  top: 76.9rem;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iletiim-31N .telefonrezervasyon-ogg {
  width: 27.2rem;
  height: 2.3rem;
  position: absolute;
  left: 79.7rem;
  top: 73rem;
  background-color: #ffffff;
}
.iletiim-31N .telefon--8U4 {
  width: 13.7rem;
  height: 3.9rem;
  position: absolute;
  left: 79.7rem;
  top: 68.8rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iletiim-31N .emailrezervasyon-qdN {
  width: 27.2rem;
  height: 2.4rem;
  position: absolute;
  left: 79.7rem;
  top: 64.8rem;
  background-color: #ffffff;
}
.iletiim-31N .email-Yng {
  width: 8.1rem;
  height: 3.9rem;
  position: absolute;
  left: 79.7rem;
  top: 60.8rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iletiim-31N .adsoyadrezervasyon-T8x {
  width: 27.2rem;
  height: 2.4rem;
  position: absolute;
  left: 79.7rem;
  top: 57.2rem;
  background-color: #ffffff;
}
.iletiim-31N .ad-soyad--z8t {
  width: 17.6rem;
  height: 3.9rem;
  position: absolute;
  left: 79.7rem;
  top: 52.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iletiim-31N .auto-group-megl-uFr {
  width: 164.3rem;
  height: 25.9rem;
  position: absolute;
  left: 18.5rem;
  top: 17.3rem;
  display: flex;
  align-items: center;
}
.iletiim-31N .auto-group-megl-uFr .auto-group-ei1j-dhe {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iletiim-31N .auto-group-megl-uFr .auto-group-ei1j-dhe .konumfoto-ymW {
  margin: 0rem 0rem 0.3rem 8.1rem;
  width: 11.6rem;
  height: 13.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iletiim-31N .auto-group-megl-uFr .auto-group-ei1j-dhe .adres-cevizli-mh-karabk-cd-no-10-kartal-istanbul-hSc {
  max-width: 46.8rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.iletiim-31N .auto-group-megl-uFr .auto-group-fkwt-cJg {
  box-sizing: border-box;
  padding-left: 17.8rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.iletiim-31N .auto-group-megl-uFr .auto-group-fkwt-cJg .auto-group-h2ng-A5J {
  margin-right: 33.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iletiim-31N .auto-group-megl-uFr .auto-group-fkwt-cJg .auto-group-h2ng-A5J .telefonfoto-uoa {
  margin: 0rem 2.5rem 3.1rem 0rem;
  width: 14.2rem;
  height: 14.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iletiim-31N .auto-group-megl-uFr .auto-group-fkwt-cJg .auto-group-h2ng-A5J .telefon-0212-444-0-444-qSL {
  max-width: 24.7rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.iletiim-31N .auto-group-megl-uFr .auto-group-fkwt-cJg .auto-group-tbfa-9xp {
  width: 41.7rem;
  height: 22rem;
  position: relative;
  flex-shrink: 0;
}
.iletiim-31N .auto-group-megl-uFr .auto-group-fkwt-cJg .auto-group-tbfa-9xp .e-mail-hacilarhalisahagmailcom-tvQ {
  width: 41.7rem;
  height: 7.8rem;
  position: absolute;
  left: 0;
  top: 14.2rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.iletiim-31N .auto-group-megl-uFr .auto-group-fkwt-cJg .auto-group-tbfa-9xp .mailfoto-Cw6 {
  width: 14.6rem;
  height: 14.8rem;
  position: absolute;
  left: 13.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.iletiim-31N .auto-group-iqzg-w7z {
  width: 185.9rem;
  height: 12.5rem;
  position: absolute;
  left: 2.7rem;
  top: 1.8rem;
  display: flex;
  align-items: center;
}
.iletiim-31N .auto-group-iqzg-w7z .logo-4Cc {
  margin: 0.6rem 36.3rem 0rem 0rem;
  width: 58.8rem;
  height: 11.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iletiim-31N .auto-group-iqzg-w7z .anasayfa-y4g {
  margin: 4.4rem 10rem 0rem 0rem;
  cursor: pointer;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iletiim-31N .auto-group-iqzg-w7z .hakkmzda-svk {
  margin: 4.4rem 10.8rem 0rem 0rem;
  cursor: pointer;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iletiim-31N .auto-group-iqzg-w7z .iletiim-M5E {
  margin: 4.4rem 8.4rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iletiim-31N .auto-group-iqzg-w7z .auto-group-1vkp-GCC {
  margin-bottom: 2.1rem;
  width: 19.4rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iletiim-31N .auto-group-iqzg-w7z .auto-group-1vkp-GCC .auto-group-z31e-bkG {
  margin: 0rem 1.9rem 2rem 7.6rem;
  width: calc(100% - 9.5rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.iletiim-31N .auto-group-iqzg-w7z .auto-group-1vkp-GCC .auto-group-z31e-bkG .instagram-W6Y {
  margin-right: 1.9rem;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iletiim-31N .auto-group-iqzg-w7z .auto-group-1vkp-GCC .auto-group-z31e-bkG .twitter-EoE {
  width: 4rem;
  height: 4.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iletiim-31N .auto-group-iqzg-w7z .auto-group-1vkp-GCC .rezervasyon-yF2 {
  cursor: pointer;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
a{
  text-decoration: none;
  color: white;
}
